<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.importWizards">
    <wizard
        category="ivy"
        class="com.axonivy.util.excel.importer.wizard.ExcelImportWizard"
        icon="webContent/icon/excel-icon.png"
        id="designer.process.ui.bpm.import"
        name="App Dialog from Excel (.xlsx)">
    </wizard>
  </extension>

</plugin>
